@import "tailwindcss";
@import '@fontsource-variable/labrada/wght.css';
@import '@fontsource-variable/labrada/wght-italic.css';

@theme {
  --color-foreground-100: #0E1511;
  --color-foreground-300: #0F2E22;
  --color-primary: #29A383;
  --color-typography-100: #ECEEEC;
  --color-typography-200: #767D74;
  --font-sans: "Labrada Variable", sans-serif;
}

html, body {
  overscroll-behavior: none;
}

body {
  background-attachment: fixed;
}

.prose blockquote {
  border-left: 4px solid var(--color-typography-100);
  padding-left: 1rem;
  margin: 1.5rem 0;
  color: var(--color-typography-100);
  font-style: italic;
}
