@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import '@fontsource-variable/labrada/wght.css';
@import '@fontsource-variable/labrada/wght-italic.css';

@theme {
  --color-foreground-100: #0E1511;
  --color-foreground-300: #0F2E22;
  --color-primary: #29A383;
  --color-typography-100: #ECEEEC;
  --color-typography-200: #767D74;
  --font-sans: "Labrada Variable", sans-serif;
}

html, body {
  overscroll-behavior: none;
}

body {
  background-attachment: fixed;
}

.prose {
  --tw-prose-body: var(--color-typography-100);
  --tw-prose-headings: var(--color-typography-100);
  --tw-prose-links: var(--color-primary);
  --tw-prose-bold: var(--color-typography-100);
  --tw-prose-bullets: var(--color-typography-100);
  --tw-prose-quotes: var(--color-typography-100);
}

.prose :is(h1, h2, h3, h4, h5, h6) {
  font-size: inherit;
  font-weight: 600;
  line-height: inherit;
  margin-top: 0;
  margin-bottom: 0;
}

.prose blockquote {
  border-left: 4px solid var(--color-typography-100);
  padding-left: 1rem;
  margin: 1.5rem 0;
  color: var(--color-typography-100);
  font-style: italic;
}
