@import "tailwindcss";
@import '@fontsource-variable/labrada';
@import '@fontsource-variable/labrada/wght-italic.css';

@theme {
  --color-foreground-100: #0E1511;
  --color-foreground-200: #1B2A1E;
  --color-primary-100: #71D083;
  --color-primary-200: #3E7949;
  --font-sans: "Labrada Variable", sans-serif;
}

.prose blockquote {
  border-left: 4px solid var(--color-primary-100);
  padding-left: 1rem;
  margin: 1.5rem 0;
  color: var(--color-primary-100);
  font-style: italic;
}
